body{
    font-family: Poppins;
}

.inputLeft {
    display: flex;
    align-self: right;
    display: flex;
    flex-direction: column;


    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 12px;

    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

button{
    display:inline-block;
    padding:0.7em 1.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color: #000000;
    background-color:rgb(236, 180, 40);
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
    border-radius: 10px;
}

button:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(19, 34, 34, 0.2);
}

button:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(241 241 241);
    width: 100%;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }
    80% {
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }
    80% {
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
